<style>
    .hetong-content p {
        margin: 0pt 0pt 0pt 5.25pt;
        text-indent: 15.75pt;
        line-height: 25px;
    }

    .hetong-content td {
        border: solid 0.75pt #000000;
        text-align: center;
        vertical-align: middle;
        font-size: 10.5pt;
        padding: 5px;
        word-break: break-all;
    }

    .hetong-content span {
        font-size: 10.5pt;
    }

    .hetong-content li {
        line-height: 25px;
        font-size: 12pt;
    }

    .hetong-content .center {
        margin: 0px;
        text-align: center;
    }

    .hetong-content .bold {
        font-weight: bold;
    }

    .hetong-content .underline {
        text-decoration: underline;
    }

    .hetong-content .title {
        font-size: 15pt;
        font-weight: bold;
    }

    .hetong-content .title2 {
        font-size: 10pt;
        font-weight: bold;
    }
</style>
<div class="hetong-content">
    <p><span class="title2">旅行社业务经营许可证编号：L-BJ-CJ00041</span></p>
	<p><span class="title2">团号：</span><span class="title2 underline">{团号}</span></p>
    <p><span class="title2">订单编号：</span><span class="title2 underline">{订单编号}</span></p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="center"><span class="title">委托合同</span></p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="center"><span class="title">使用说明</span></p>
    <p>&nbsp;</p>
    <p>
        <span>
            本合同系电子合同，由受托方按照双方约定内容编写生成，委托方于受托方网站确认签署后视为委托方理解并同意合同中的全部内容。本合同确认签署后，受托方将合同文本以邮件形式发送至委托方预留的邮箱，委托方可自行下载合同文本。合同自旅游者确认签署时生效，双方以此作为执行依据。
        </span>
    </p>

    <p>
        &nbsp;
    </p>
    <p>
        &nbsp;
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p><span class="bold">委托方：</span><span>{联系人姓名}</span></p>
    <p><span class="bold">受托方：</span><span>中青旅耀悦（北京）旅游有限公司</span></p>
    <p><span>本合同为委托合同，适用《中华人民共和国民法总则》、《中华人民共和国合同法》、其它法律、法规的相关规定。委托方自行选择委托事项，受托方按照合同约定代为办理。受托方仅就处理代办事宜承担责任，因由实际服务提供方提供的服务所导致纠纷，或给委托方造成人身、财产损失的，受托方不承担责任。委托方应直接与上述实际服务提供方交涉，受托方提供必要的协助</span></p>
    <p><span>委托、受托双方在平等、自愿、公平、诚实信用的基础上就有关委托事项达成协议如下：</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第一条 委托事项</span></p>
    <p><span>委托方委托受托方代为下述人员预订单项服务事项。</span></p>
    <p><span>1.乘机人信息</span></p>
    <table cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%;">
        <tr>
            <td>中文姓名</td>
            <td>英文姓名</td>
            <td>性别</td>
            <td>出生日期</td>
            <td>证件类型</td>
            <td>证件号码</td>
            <td>证件有效期</td>
        </tr>
        {出行人信息}
    </table>
    <p><span>2.航班信息</span></p>
    <p><span>{线路名称}</span></p>
    <p><span>（详见预订单信息）。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第二条 退改规则</span></p>
    <p><span>（详见预订单信息）。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第三条 费用支付</span></p>
    <p><span>1.费用总额：</span></p>
    <p><span>(小写)人民币</span><span class="underline">{订单应收}</span><span>元 </span></p>
    <p><span>(大写)人民币</span><span class="underline">{大写订单应收}</span></p>
    <p><span>2.委托方应于</span><span class="underline">{支付时限}</span><span>前付清全部费用。如未在规定时间内付清应付费用，本合同于</span><span class="underline">{支付时限}</span><span>自动终止。</span></p>
    <p><span>3.合同终止后，受托方将已收取的费用（如有）原路退还委托方。</span></p>
    <p><span>4.合同终止后，如委托方拟继续委托受托方代为履行本合同相关事项，双方重新订立合同并遵照执行。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第四条 双方的权利和义务</span></p>
    <p><span>1.委托方应当确保其有权利向受托方提供前述实际接受单项服务事项人员信息，保证其有权利代表前述人员与受托方沟通、确认单项服务事项信息。因委托方前述权利瑕疵导致的纠纷、损失，由委托方承担。因此给受托方造成损失的，委托方应当予以赔偿。</span></p>
    <p><span>2.委托方应当保证所提供的实际接受单项服务事项人员信息真实、准确、有效，因委托方提供虚假、错误、不全面信息资料或者因受托方以外的原因导致实际接受单项服务事项人员无法享受服务的，相关责任和费用由委托方承担，如给受托方造成损失的，委托方还应当承担赔偿责任。</span></p>
    <p><span>3.受托方按照合同约定履行义务，有权拒绝委托人提出的超出委托事项范围的不合理要求。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第五条 通知</span></p>
    <p><span>1.双方联系方式：</span></p>
    <p><span>委托方代表电话：</span><span class="underline">{联系人电话}</span><span>,指定邮箱：</span><span class="underline">{联系人邮箱}</span></p>
    <p><span>受托方代表电话：</span><span class="underline">{受理人电话}</span><span>,指定邮箱：</span><span class="underline">{受理人邮箱}</span></p>
    <p><span>受托方电话：</span><span>400 890 5588</span></p>
    <p><span>2.本合同履行过程中的相关事宜，双方通过上述联系方式进行沟通确认。委托事项完成后，受托方以邮件或手机短信的方式向委托方发送已预订的单项服务事项信息。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第六条 其他</span></p>
    <p><span>1.委托方和受托方双方订立的《预订单信息》等文件为本合同附件，与本合同具有同等法律效力。</span></p>
    <p><span>2.本合同履行过程中如发生争议，由双方协商解决。协商不成的，任一方可依法向北京市东城区人民法院起诉。</span></p>


    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="text-indent:60%">
        <span>受托方：中青旅耀悦（北京）旅游有限公司</span>
    </p>
    <p style="text-indent:60%">
        {合同生成时间}
    </p>
    <div><div style="position:relative;float:right"><img src="http://m.sparkletour.com/images/contract/zhang.png" /><div style="position: absolute; width: 100%; text-align: center; font-weight: bold; top: 68px;left:0px; ">中青旅耀悦（北京）旅游有限公司</div></div></div>
    <p style="text-indent:0">
        <span>附件：</span>{预订单信息URL}
        <a href="http://m.sparkletour.com/order/anquanxinxika.html" target="_blank">《游客安全信息卡》</a>
    </p>
</div>
