<style>
    .hetong-content p {
        margin: 0pt 0pt 0pt 5.25pt;
        text-indent: 15.75pt;
        line-height: 25px;
    }

    .hetong-content td {
        border: solid 0.75pt #000000;
        text-align: center;
        vertical-align: middle;
        font-size: 10.5pt;
        padding: 5px;
        word-break: break-all;
    }

    .hetong-content span {
        font-size: 10.5pt;
    }

    .hetong-content li {
        line-height: 25px;
        font-size: 12pt;
    }

    .hetong-content .center {
        margin: 0px;
        text-align: center;
    }

    .hetong-content .bold {
        font-weight: bold;
    }

    .hetong-content .underline {
        text-decoration: underline;
    }

    .hetong-content .title {
        font-size: 15pt;
        font-weight: bold;
    }

    .hetong-content .title2 {
        font-size: 10pt;
        font-weight: bold;
    }
</style>
<div class="hetong-content">
    <p><span class="title2">旅行社业务经营许可证编号：L-BJ-CJ00041</span></p>
	<p><span class="title2">团号：</span><span class="title2 underline">{团号}</span></p>
    <p><span class="title2">订单编号：</span><span class="title2 underline">{订单编号}</span></p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="center"><span class="title">委托合同</span></p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p class="center"><span class="title">使用说明</span></p>
    <p>&nbsp;</p>
    <p>
        <span>
            本合同属于委托合同，适用于委托方委托受托方协助办理签证的服务项目。
        </span>
    </p>
    <p>
        <span>
            本合同系电子合同，由受托方按照双方约定内容编写生成，委托方于受托方网站确认签署后视为委托方理解并同意合同中的全部内容。本合同确认签署后，受托方将合同文本以邮件形式发送至委托方预留的邮箱，委托方可自行下载合同文本。合同自旅游者确认签署时生效，双方以此作为执行依据。
        </span>
    </p>

    <p>
        &nbsp;
    </p>
    <p>
        &nbsp;
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p><span class="bold">委托方：</span><span>{联系人姓名}</span></p>
    <p><span class="bold">受托方：</span><span>中青旅耀悦（北京）旅游有限公司</span></p>
    <p><span>本合同为委托合同，适用《中华人民共和国民法总则》、《中华人民共和国合同法》的相关规定。委托方自行选择委托事项，受托方按照委托方要求承担代办签证义务。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第一条 委托事项</span></p>
    <p><span>委托方委托受托方代为预订下述人员的签证。</span></p>
    <p><span>1.办理签证人员信息</span></p>
    <table cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%;">
        <tr>
            <td>中文姓名</td>
            <td>英文姓名</td>
            <td>性别</td>
            <td>出生日期</td>
            <td>证件类型</td>
            <td>证件号码</td>
            <td>证件有效期</td>
        </tr>
        {出行人信息}
    </table>
    <p><span>2.签证服务内容</span></p>
    <p><span>{线路名称}</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第二条 费用支付</span></p>
    <p><span>1.费用总额：</span></p>
    <p><span>(小写)人民币</span><span class="underline">{订单应收}</span><span>元 </span></p>
    <p><span>(大写)人民币</span><span class="underline">{大写订单应收}</span></p>
    <p><span>2.委托方应于</span><span class="underline">{支付时限}</span><span>前付清全部费用。如未在规定时间内付清应付费用，本合同于</span><span class="underline">{支付时限}</span><span>自动终止。</span></p>
    <p><span>3.合同终止后，受托方将已收取的费用（如有）原路退还委托方。</span></p>
    <p><span>4.合同终止后，如委托方拟继续委托受托方代为履行本合同相关事项，双方重新订立合同并遵照执行。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第三条 双方的权利和义务</span></p>
    <p><span>1.委托方应当保证其有权利向受托方提供前述出行人信息，保证其有权利代表前述出行人与受托方沟通、确认委托事项，并及时将合同内容及相关信息传达出行人。因委托方前述权利瑕疵导致的纠纷、损失，由委托方承担。因此给受托方造成损失的，委托方应当予以赔偿。</span></p>
    <p><span>2.委托方应保证按照受托方要求的材料进行准备，由受托方代交的，按时提供完整材料给受托方；由委托方或出行人自行前往递交的，应按时递交到使领馆。使领馆可能会根据个人的不同情况要求增补其它材料，委托方应及时提供完整、有效的真实的材料。一旦因增补材料，不能在原受理时间内出签，出行人的行程可能会受影响。由于上述情形非受托方所能控制，委托方或出行人因此产生的损失，受托方不承担任何赔偿责任。</span></p>
    <p><span>3.如在委托方协助办理签证过程中，使领馆对出行人进行行政审核导致未能及时出签或使领馆拒绝出签的，受托方应及时告知委托方，委托方应自行承担因此产生的全部损失。</span></p>
    <p><span>4.委托方应保证资料的真实性、完整性、有效性；如因委托方提供的资料不完整或任何用于签证的材料、信息等不准确或互斥造成的延迟出签、不能出签等问题，委托方应承担因此产生的全部损失。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第四条 受托方的权利和义务</span></p>
    <p><span>1.受托方应妥善保管为委托方代交签证所需的各项证件、材料，如有遗失或毁损，应立即主动补办，并承担补办相关材料的所需费用，委托方应予以协助。</span></p>
    <p><span>2.在办理签证期间，受托方有权根据委托方的材料情况要求补交其他材料或予以劝退；使（领）馆有可能根据委托方所提供的资料进行电话抽查，也可能会针对出行人的实际情况，要求补交其他材料或延长签证受理时间，委托方须及时补交，否则导致拒签的，委托方应承担由此产生的全部损失。</span></p>
    <p><span>3.受托方仅就处理受托事宜承担责任，因由签证机构提供服务所导致的纠纷，或给委托方、出行人造成人身、财产损失的，受托方不承担责任。委托方应直接与相应单位交涉，受托方提供必要的协助。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第五条 重要事项确认</span></p>
    <p><span>1.受托方在介绍签证内容时所提及的办理时间、签证有效期、停留天数和入境次数，仅供参考而非受托方的法定承诺，一切均以使领馆签发的签证内容为唯一依据。</span></p>
    <p><span>2.受托方提供的所有签证服务类别，均属于协助办理性质。委托方的签证是否可以申请成功，取决于相关国家使（领）馆签证官的直接审核结果。若最终发生拒签状况，作为协助申请办理签证方，受托方不承担任何责任，且不予退还签证费用。如委托方因护照及个人原因或因使（领）馆工作出现差错以致在出入境时遇到问题，受托方不承担责任。</span></p>
    <p><span>3.合同生效后受托方即着手办理委托事项，委托方在合同生效后单方解除合同的，委托费用不予退还。委托方在合同生效后单方变更委托事项的，由委托方承担由此增加的费用及相应后果。</span></p>
    <p><span>4.合同生效后，如因受托人自身原因单独导致不能出签或不能按时出签或提前解除合同的，受托人除退还已收取的全部费用外，还应按照受托人服务费用的5%承担违约责任。违约金不足以弥补委托人损失的，受托人予以补偿，但违约金与补偿款总额不应高于本合同委托费用。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第六条 通知</span></p>
    <p><span>1.双方联系方式：</span></p>
    <p><span>委托方代表电话：</span><span class="underline">{联系人电话}</span><span>,指定邮箱：</span><span class="underline">{联系人邮箱}</span></p>
    <p><span>受托方代表电话：</span><span class="underline">{受理人电话}</span><span>,指定邮箱：</span><span class="underline">{受理人邮箱}</span></p>
    <p><span>受托方电话：</span><span>400 890 5588</span></p>
    <p><span>2.本合同履行过程中的相关事宜，双方通过上述联系方式进行沟通确认。委托事项完成后，受托方以邮件或手机短信的方式向委托方发送签证办理结果。</span></p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p><span class="bold">第七条 争议解决</span></p>
    <p><span>本合同履行过程中发生争议，由双方协商解决。协商不成的，可依法向北京市东城区人民法院起诉。</span></p>



    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="text-indent:60%">
        <span>受托方：中青旅耀悦（北京）旅游有限公司</span>
    </p>
    <p style="text-indent:60%">
        {合同生成时间}
    </p>
    <div><div style="position:relative;float:right"><img src="http://m.sparkletour.com/images/contract/zhang.png" /><div style="position: absolute; width: 100%; text-align: center; font-weight: bold; top: 68px;left:0px; ">中青旅耀悦（北京）旅游有限公司</div></div></div>
    <p style="text-indent:0">
        <a href="http://m.sparkletour.com/order/anquanxinxika.html" target="_blank">《游客安全信息卡》</a>
    </p>
</div>
