<style>
    .hetong-content p {
        margin: 0pt 0pt 0pt 5.25pt;
        text-indent: 15.75pt;
        line-height: 25px;
    }

    .hetong-content td {
        border: solid 0.75pt #000000;
        text-align: center;
        vertical-align: middle;
        font-size: 10.5pt;
        padding: 5px;
        word-break: break-all;
    }

    .hetong-content span {
        font-size: 10.5pt;
    }

    .hetong-content li {
        line-height: 25px;
        font-size: 12pt;
    }

    .hetong-content .center {
        margin: 0px;
        text-align: center;
    }

    .hetong-content .bold {
        font-weight: bold;
    }

    .hetong-content .underline {
        text-decoration: underline;
    }

    .hetong-content .title {
        font-size: 15pt;
        font-weight: bold;
    }

    .hetong-content .title2 {
        font-size: 10pt;
        font-weight: bold;
    }
</style>
<div class="hetong-content">
    <p>
        <span class="title2">旅行社业务经营许可证编号：L-BJ-CJ00041</span>
    </p>
    <p>
        <span class="title2">团号：</span>
        <span class="title2 underline">{团号}</span>
    </p>
    <p>
        <span class="title2">订单编号：</span>
        <span class="title2 underline">{订单编号}</span>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="title">大陆居民赴台湾地区旅游合同</span>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="bold">中青旅耀悦（北京）旅游有限公司</span>
    </p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="bold">合同版本：WZHT</span>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="title">使用说明</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span>
            1.本合同由中青旅耀悦（北京）旅游有限公司（以下简称“赴台旅行社”）与旅游者之间通过中青旅耀悦网站订立赴台地区旅游合同时使用。
        </span>

    </p>
    <p>
        <span>2.本合同系电子合同，由合同正文（包括《使用说明》、《通用条款》、《协议条款》）以及附件（包括《旅游行程》以及合同双方共同确认的其他文件）组成。</span>

    </p>
    <p>
        <span>3.双方当事人可以对合同文本内容进行变更或者补充，经过双方充分协商，一致同意后，与本合同具有同等效力。</span>

    </p>
    <p>
        <span>4.本合同主要条款参考国家旅游局和国家工商行政管理总局共同发布的《GF-2014-2403&lt;大陆居民赴台湾地区旅游合同&gt;》示范文本，赴台旅行社和旅游者自愿订立，并遵照执行。</span>
    </p>
    <p>
        <span class="bold">5.旅游者在订立本合同前应仔细阅读本合同各项条款，赴台旅行社特别提示旅游者重点关注以加粗字体显示的条款，确保全面、完整了解相应条款的内容以及相应的合同、法律责任。</span>
    </p>
    <p>
        <span class="bold">6.旅游者通过中青旅耀悦网站确认预订信息及条款后，经旅游者确认签署的合同文本将以邮件形式由中青旅耀悦发送至旅游者预留的邮箱，旅游者也可在中青旅耀悦网站会员中心自行下载。合同自旅游者确认签署时生效，双方以此作为执行依据。</span>
    </p>
    <p>
        <span>7.赴台旅行社旅游服务质量监督电话：4008905588，客户意见电子邮箱：sparkletour@aoyou.com。</span>
    </p>
    <p>
        <span>8.全国旅游投诉举报电话：12301。</span>
    </p>
    <p>
        <span>9.北京市旅行社服务质量监督管理所地址：北京市朝阳区建外大街28号,邮编：100022。</span>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        &nbsp;
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="title">通用条款</span>
    </p>
    <p>
        <span class="bold">第一章 术语和定义</span>
    </p>
    <p>
        <span class="bold">第一条 本合同术语和定义</span>
    </p>
    <p>
        <span class="bold">1.赴台旅游服务，指赴台旅行社依据《中华人民共和国旅游法》、《大陆居民赴台湾地区旅游管理办法》和《旅行社条例》等法律、法规，组织旅游者到台湾地区旅游，代办大陆居民入台许可证（简称入台证），代订公共交通客票，提供餐饮、住宿、游览等两项以上的服务活动。</span>
    </p>
    <p>
        <span>2.旅游费用，指旅游者支付给赴台旅行社，用于购买本合同约定的旅游服务的费用，即团款。 </span>
        <p>
            <span>旅游费用包括赴台旅行社统一安排的以下项目的费用（本合同及相关合同附件另行约定的除外）：</span>
        </p>
        <p>
            <span>（1）入台证办理费用（旅游者自办的除外）；</span>
        </p>
        <p>
            <span>（2）交通费（含境外机场税）；</span>
        </p>
        <p>
            <span>（3）住宿费；</span>
        </p>
        <p>
            <span>（4）餐费（不含酒水费）；</span>
        </p>
        <p>
            <span>（5）景区景点的首道门票费；</span>
        </p>
        <p>
            <span>（6）导游、领队等服务人员费用；</span>
        </p>
        <p>
            <span>（7）赴台旅行社、台湾地区地接社其他服务费用;</span>
        </p>
	    <p>
            <span>（8）行程中安排的其他项目费用。</span>
        </p>
        <p>
            <span>旅游费用不包括（本合同及相关合同附件另行约定的除外）：</span>
        </p>
        <p>
            <span>（1）办理旅游证件的费用；</span>
        </p>
        <p>
            <span>（2）办理离团的费用；</span>
        </p>
        <p>
            <span>（3）旅游者投保人身意外伤害保险的费用；</span>
        </p>
        <p>
            <span>（4）合同未约定由赴台旅行社支付的费用，包括但不限于行程以外非合同约定项目所需的费用、自行安排活动期间发生的费用； </span>
        </p>
        <p>
            <span>（5）旅游者自愿支付给导游、领队、司机、酒店服务生等服务人员的小费;</span>
        </p>
		<p>
            <span>（6）行程中发生的旅游者个人费用，包括但不限于交通工具上的非免费餐饮费、行李超重费，住宿期间的洗衣、通讯、饮料及酒类费用，个人娱乐费用，个人伤病医疗费以及因此导致的其他扩大费用，寻找个人遗失物品的费用及报酬，个人原因造成的赔偿费用。</span>
        </p>
    </p>
    <p>
        <span>3.履行辅助人，指与赴台旅行社存在合同关系，协助其履行本合同义务，实际提供相关服务的法人、自然人或者其他组织。</span>
    </p>
    <p>
        <span>4.自由活动，特指《旅游行程》中安排的自由活动。</span>
    </p>
    <p>
        <span>5.自行安排活动期间，指《旅游行程》中安排的自由活动期间、旅游者不参加旅游行程活动期间、每日行程开始前、结束后旅游者个人活动期间、旅游者经领队或者导游同意暂时离团的个人活动期间。</span>
    </p>
    <p>
        <span>6.不合理的低价，指赴台旅行社提供服务的价格低于接待和服务费用或者低于行业公认的合理价格，且无正当理由和充分证据证明该价格的合理性。其中，接待和服务费用主要包括赴台旅行社提供或者采购餐饮、住宿、交通、游览、导游等服务所支出的费用。</span>
    </p>
    <p>
        <span>7.具体购物场所，指购物场所有独立的商号以及相对清晰、封闭、独立的经营边界和明确的经营主体，包括免税店，大型购物商场，前店后厂的购物场所，景区内购物场所，景区周边或者通往景区途中的购物场所，服务旅游者的专门商店，商品批发市场和与餐饮、娱乐、停车休息等相关联的购物场所等。</span>
    </p>
    <p>
        <span>8.旅游者投保的人身意外伤害保险，指旅游者自己购买或者通过赴台旅行社、航空机票代理点、景区等保险代理机构购买的以旅行期间自身的生命、身体或者有关利益为保险标的的短期保险，包括但不限于航空意外险、旅游意外险、紧急救援保险、特殊项目意外险。</span>
    </p>
    <p>
        <span>9.离团，指团队旅游者经导游同意不随团队完成约定行程的行为。</span>
    </p>
    <p>
        <span>10.脱团，指团队旅游者未经导游同意脱离旅游团队，不随团队完成约定行程的行为。</span>
    </p>
    <p>
        <span>11.转团，指赴台旅行社将旅游者转至其他赴台旅行社所组赴台旅游团队履行合同的行为（赴台旅游不得转团）。</span>
    </p>
    <p>
        <span>12.拼团，指赴台旅行社在保证所承诺的服务内容和标准不变的前提下，在订立合同时经旅游者同意，与其他旅行社招徕的旅游者拼成一个团，统一安排旅游服务的行为。</span>
    </p>
    <p>
        <span class="bold">13.不可抗力，指不能预见、不能避免并不能克服的客观情况，包括但不限于因自然原因或社会原因引起的事件，如自然灾害、战争、恐怖活动、动乱、骚乱、罢工、突发公共卫生事件、政府行为。</span>
    </p>
    <p>
        <span class="bold">14.意外事件（已尽合理注意义务仍不能避免的事件），指因当事人故意或者过失以外的客观因素引发的事件，包括但不限于重大礼宾活动导致的交通堵塞，飞机、火车、班轮、城际客运班车等公共客运交通工具延误或者取消，景点临时不开放。</span>
    </p>
    <p>
        <span class="bold">15.必要的费用，指赴台旅行社为履行合同已经发生的费用以及向地接社或者履行辅助人支付且不可退还的费用，包括但不限于乘坐飞机（车、船）等交通工具的费用（含预订金）、饭店住宿费用（含预订金）、旅游观光汽车的人均车租费用。</span>
    </p>
    <p>
        <span class="bold">16.赴台旅行社损失，指赴台旅行社为履行合同已经发生的必要的费用，以及赴台旅行社为开展该项业务而实际发生的人工成本、办公成本、管理费用等必要耗费。</span>
    </p>
    <p>
        <span class="bold">17.公共交通经营者，指航空、铁路、航运客轮、城市公交、地铁等公共交通工具经营者。</span>
    </p>

    <p>&nbsp;</p>
    <p>
        <span class="bold">第二章  合同的订立</span>
    </p>
    <p>
        <span class="bold">第二条  旅游行程</span>
    </p>
    <p>
        <span>赴台旅行社应当提供《旅游行程》，并作为本合同的组成部分。《旅游行程》应当对如下内容做出明确的说明：</span>
    </p>
    <p>
        <span>1.旅游行程的出发地、途经地、目的地、结束地，线路行程时间（按自然日计算，含乘飞机、车、船等在途时间，不足24小时以一日计）；</span>
    </p>
    <p>
        <span>2.台湾地区地接社的基本信息；</span>
    </p>
    <p>
        <span>3.交通、住宿、用餐等服务安排及其标准；</span>
    </p>
    <p>
        <span>4.赴台旅行社统一安排的游览项目的具体内容及时间；</span>
    </p>
    <p>
        <span>5.自由活动的时间；</span>
    </p>
    <p>
        <span>6.行程安排的娱乐活动。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第三条  订立合同</span>
    </p>
    <p>
        <span class="bold">旅游者应当认真阅读本合同条款和《旅游行程》等合同附件，在旅游者理解并同意本合同条款及有关附件后，点击确认签署电子合同。</span>
    </p>
    <p>
        <span class="bold">由旅游者的代理人或代表人订立合同的，代理人或代表人须确保获得相应代理和代表权限，并须要将本合同以及相关附件的内容如实完整告知被代理人或被代表人。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第四条 旅游广告及宣传品</span>
    </p>
    <p>
        <span>赴台旅行社的旅游广告及宣传品应当遵循诚实信用的原则，其内容符合《中华人民共和国合同法》要约规定并被旅游者认可和接受的，视为本合同的组成部分，对赴台旅行社和旅游者双方具有约束力。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第三章 合同双方的权利义务</span>
    </p>
    <p>
        <span class="bold">第五条 赴台旅行社的权利</span>
    </p>
    <p>
        <span class="bold">1.根据旅游者的身体健康状况及相关条件决定是否与旅游者订立合同。</span>
    </p>
    <p>
        <span class="bold">2.旅游者订立合同时在70周岁以上、或18周岁以下、或处于妊娠期、或有身体残障等情况，以及非中国国籍或为港澳台人士的，应在订立本合同时告知赴台旅行社，并按照赴台旅行社的要求签署有关文件。</span>
    </p>
    <p>
        <span class="bold">3.旅游者为育龄女性的，旅游者在订立本合同前须确认本人出行期间(指签署合同后至旅行结束的期间)不处于妊娠期，如因处于妊娠期要求解除或变更合同的，应按照本合同中旅游者解除或变更合同的约定承担有关责任。</span>
    </p>
    <p>
        <span class="bold">4.若旅游者未依照通用条款第五条第2款的约定向赴台旅行社如实告知本人信息、或在已订立合同后方提出本人处于妊娠期的，出于安全考虑，赴台旅行社可劝阻旅游者出行并解除合同；若经赴台旅行社劝阻，已知风险仍坚持出行的，旅游者需在本合同之外签署相关声明方可出行；若旅游者拒绝签署相关声明，或赴台旅行社认为出行对旅游者风险较高，旅游者签署声明仍不宜出行的，赴台旅行社有权解除合同，按本合同通用条款第十三条处理。</span>
    </p>
    <p>
        <span class="bold">5.核实旅游者提供的相关信息资料。</span>
    </p>
    <p>
        <span class="bold">6.按照合同约定向旅游者收取全额旅游费用。</span>
    </p>
    <p>
        <span class="bold">7.旅游者遇紧急情况时，可以采取安全防范措施和紧急避险措施并要求旅游者配合。</span>
    </p>
    <p>
        <span class="bold">8.拒绝旅游者提出的超出合同约定的不合理要求。</span>
    </p>
    <p>
        <span class="bold">9.要求旅游者健康、文明旅游，劝阻旅游者违法和违反社会公德的行为；要求旅游者对在旅游活动中或者在解决纠纷时损害赴台旅行社合法权益的行为承担赔偿责任。对于有严重不文明行为的旅游者，赴台旅行社可将旅游者的不文明旅游信息向旅游或相关主管部门报告，建议相关部门将不文明旅游者的信息载入不文明游客记录。</span>
    </p>
	<p>
        <span class="bold">10.如取得入台证后，因旅游者的原因导致合同在行前解除或旅游者放弃出行的，赴台旅行社有权注销旅游者的入台证（因其中含有赴台旅行社的信誉担保）。</span>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <span class="bold">第六条 赴台旅行社的义务</span>
    </p>
    <p>
        <span>1.按照合同和《旅游行程》约定的内容和标准为旅游者提供服务，不擅自变更旅游行程安排，不降低服务标准。</span>
    </p>
    <p>
        <span>2.向合格的供应商订购产品和服务。</span>
    </p>
    <p>
        <span>3.不以不合理的低价组织旅游活动，诱骗旅游者，并通过安排购物或者另行付费旅游项目获取回扣等不正当利益；组织、接待旅游者，不指定具体购物场所，不安排另行付费旅游项目，但是，经双方协商一致或者旅游者要求，且不影响其他旅游者行程安排的除外。</span>
    </p>
    <p>
        <span>4.在出行前采取说明会、发放《旅游行程》、《出团通知》等方式，如实告知具体行程安排和有关事项。</span>
    </p>
    <p>
        <span>5.为旅游团队安排领队的,应安排合格领队人员。</span>
    </p>
    <p>
        <span>6.妥善保管旅游者交其代管的证件、行李等物品。</span>
    </p>
    <p>
        <span>7.旅游者人身、财产权益受到损害时，应采取合理必要的保护和救助措施，避免旅游者人身、财产权益损失扩大。</span>
    </p>
    <p>
        <span>8.积极协调处理旅游行程中的纠纷，采取适当措施防止损失扩大。</span>
    </p>
    <p>
        <span>9.提示旅游者投保人身意外伤害保险。</span>
    </p>
    <p>
        <span>10.向旅游者提供其向赴台旅行社已交付的旅游费用（团款）发票。</span>
    </p>
    <p>
        <span>11.依法对旅游者个人信息保密。</span>
    </p>
    <p>
        <span class="bold">第七条 旅游者的权利</span>
    </p>
    <p>
        <span>1.要求赴台旅行社按照合同及《旅游行程》的约定履行相关义务。</span>
    </p>
    <p>
        <span>2.拒绝赴台旅行社未经事先协商一致的转团、拼团行为。</span>
    </p>
    <p>
        <span>3.有权自主选择旅游产品和服务；有权拒绝赴台旅行社未与旅游者协商一致或者未经旅游者要求而指定购物场所、 安排旅游者参加另行付费旅游项目的行为；有权拒绝赴台旅行社的导游强迫或者变相强迫旅游者购物、参加另行付费旅游项目的行为。</span>
    </p>
    <p>
        <span>4.在支付旅游费用（团款）时要求赴台旅行社出具发票。</span>
    </p>
    <p>
        <span>5.人格尊严、民族风俗习惯和宗教信仰得到尊重。</span>
    </p>
    <p>
        <span>6.在人身、财产安全遇有危险时，有权请求救助和保护；人身、财产受到侵害的，有权依法获得赔偿。</span>
    </p>
    <p>
        <span>7.在合法权益受到损害时向有关部门投诉或者要求赴台旅行社协助索赔。</span>
    </p>
    <p>
        <span>8.《中华人民共和国旅游法》、《中华人民共和国消费者权益保护法》和有关法律、法规赋予旅游者的其他各项权利。</span>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <span class="bold">第八条 旅游者的义务</span>
    </p>
    <p>
        <span class="bold">1.如实填写出行人信息、提交办理签注、入台证的资料，告知与旅游活动相关的个人健康信息及身体状况，并对其真实性负责，保证所提供的联系方式准确无误且能及时联系。</span>
    </p>
    <p>
        <span class="bold">故意隐瞒个人信息或身体和健康情况（如处于妊娠期、70周岁以上、18周岁以下或有身体残障、患有高血压、心脏病等疾病，非中国国籍或为港澳台人士等）的，由此产生的相关后果由旅游者自行承担。有出行风险但拒绝签署特殊声明的，赴台旅行社可以解除合同，相关责任和后果由旅游者承担。</span>
    </p>
    <p>
        <span class="bold">2. 需要赴台旅行社办理台湾通行证、签注及入台证等出入境手续的，应向赴台旅行社提交能有效使用的个人证件（旅游者应保证旅行结束时个人证件仍有六个月以上的有效期），包括但不限于台湾通行证以及赴台旅行社要求提供的其他资料；</span>
    </p>
    <p>
        <span class="bold">自办台湾通行证、签注及入台证的旅游者应当确保所持的台湾通行证、签注及入台证在出游期间有效；如旅游者因工作性质或所在单位要求，需要办理有关出入境备案或报批手续的，旅游者应确保已办理完毕相应手续，如因此影响旅游的，由旅游者承担全部责任和损失。</span>
    </p>
    <p>
        <span class="bold">3.按照合同约定支付旅游费用。</span>
    </p>
    <p>
        <span class="bold">4.按照合同约定随团完成旅游行程，配合领队或导游人员的统一管理。</span>
    </p>
    <p>
        <span class="bold">5.遵守我国和台湾地区的法律、法规和有关规定，不携带违禁物品出入境；不参与色情、赌博和涉毒等内容以及有损两岸关系的活动；携带需要申报物品出入海关的，应当遵守我国或目的地国家或地区海关管理规定，依法进行申报、纳税;不擅自脱团；不滞留不归。</span>
    </p>
    <p>
        <span class="bold">6.遵守台湾地区的公共秩序和社会公德，尊重当地的风俗习惯，文化传统和宗教信仰，爱护旅游资源，保护生态环境，遵守《中国公民出国（境）旅游文明行为指南》等文明行为规范。</span>
    </p>
    <p>
        <span class="bold">7.对国家应对重大突发事件暂时限制旅游活动的措施以及有关部门、机构或者旅游经营者采取的安全防范和应急处置措施予以配合。</span>
    </p>
    <p>
        <span class="bold">8.妥善保管自己的行李物品，随身携带现金、有价证券、贵重物品，不在行李中夹带。</span>
    </p>
    <p>
        <span class="bold">9.在旅游活动中或者在解决纠纷时，应采取适当措施防止损失扩大，不损害当地居民的合法权益；不干扰他人的旅游活动；不损害旅游经营者和旅游从业人员的合法权益，不采取拒绝上、下机（车、船）、拖延行程或者脱团等不当行为。</span>
    </p>
    <p>
        <span class="bold">10.在自行安排活动期间，应当在自己能够控制风险的范围内选择活动项目，遵守旅游活动中的安全警示规定，对自己的安全负责。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第四章  合同的变更与转让</span>
    </p>
    <p>
        <span class="bold">第九条 合同的变更</span>
    </p>
    <p>
        <span class="bold">1.赴台旅行社与旅游者双方协商一致，可以变更本合同约定的内容。由此增加的旅游费用及给对方造成的损失，由变更提出方承担；由此减少的旅游费用，由赴台旅行社退还旅游者。</span>
    </p>
    <p>
        <span class="bold">2.行程开始前遇到不可抗力或者意外事件，影响旅游行程的，双方经协商可以取消行程或者延期出行。取消行程的，按照通用条款第十四条处理；延期出行的，增加的费用由旅游者承担，减少的费用退还旅游者。</span>
    </p>
    <p>
        <span class="bold">3.行程中遇到不可抗力或者意外事件，影响旅游行程的，按以下方式处理：</span>
        <p>
            <span class="bold">(1)合同不能完全履行的，赴台旅行社经向旅游者作出说明，旅游者同意变更的，可以在合理范围内变更合同，因此增加的费用由旅游者承担，减少的费用退还旅游者；</span>
        </p>
        <p>
            <span class="bold">(2)危及旅游者人身、财产安全的，赴台旅行社应当采取相应的安全措施，因此支出的费用，由赴台旅行社与旅游者分担；</span>
        </p>
        <p>
            <span class="bold">(3)造成旅游者滞留的，赴台旅行社应当采取相应的安置措施，因此增加的食宿费用由旅游者承担，增加的返程费用由赴台旅行社与旅游者分担。</span>
        </p>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第十条 合同的转让</span>
    </p>
    <p>
        <span>旅游行程开始前，旅游者可以将本合同中自身的权利义务转让给第三人，赴台旅行社没有正当理由的不得拒绝，并办理相关转让手续，因此增加的费用由旅游者和第三人承担。</span>
    </p>
    <p>
        <span class="bold">正当理由包括但不限于：对应原报名者办理的相关服务不可转让给第三人的；无法为第三人办妥签注或入台证、安排交通等情形的；旅游活动对于旅游者的身份、资格等有特殊要求的。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第十一条 不能达到成团人数时的安排</span>
    </p>
    <p>
        <span>当未达到约定的成团人数时，旅游者可以与赴台旅行社就如下安排在本合同协议条款第四条中做出约定：</span>
    </p>
    <p>
        <span>1.依据《海峡两岸旅游合作规范》规定，大陆居民赴台湾地区旅游未达到约定成团人数不能成团时，不得转团；</span>
    </p>
    <p>
        <span>2.当未达到约定的成团人数时，旅游者可以与赴台旅行社进行协商，采取延期、改签线路等方式进行变更，变更内容经双方协商一致后生效。若有需要重新订立合同的，双方一切权利义务以新合同为准；原有合同（含合同附件）在订立新合同后自动全部失效。</span>
    </p>
    <p>
        <span>若无法协商一致的，双方均有权解除合同，按照本合同通用条款第十二条第1款处理。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第五章 合同的解除</span>
    </p>
    <p>
        <span class="bold">第十二条 赴台旅行社解除合同</span>
    </p>
    <p>
        <span>1.未达到约定的成团人数不能成团时，赴台旅行社解除合同的，应当以书面等有效形式告知旅游者，并按照本合同通用条款第十七条第1款承担违约责任。
    </p>
    <p>
        <span class="bold">2.旅游者有下列情形之一的，赴台旅行社可以解除合同（相关法律、行政法规另有规定的除外）：</span>
    </p>
    <p>
        <span class="bold">(1)患有传染病等疾病，可能危害其他旅游者健康和安全的；</span>
    </p>
    <p>
        <span class="bold">(2)携带危害公共安全的物品且不同意交有关部门处理的；</span>
    </p>
    <p>
        <span class="bold">(3)从事违法或者违反社会公德的活动的；</span>
    </p>
    <p>
        <span class="bold">(4)从事严重影响其他旅游者权益的活动，且不听劝阻、不能被制止的；</span>
    </p>
    <p>
        <span class="bold">(5)法律规定的影响合同履行的其他情形。</span>
    </p>
    <p>
        <span class="bold">赴台旅行社因上述情形解除合同的，应当及时通知旅游者，按照通用条款第十五条的相关约定扣除必要的费用或赴台旅行社损失后，将余款退还旅游者。</span>
    </p>
    <p>
        <span class="bold">3.赴台旅行社认为不适宜履行合同的，可解除合同，并按照本合同约定向旅游者承担违约责任。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第十三条 旅游者解除合同</span>
    </p>
    <p>
        <span class="bold">1.未达到约定的成团人数不能成团时，赴台旅行社应及时发出不能成团的通知，旅游者不同意延期出行或者改签线路出行的，旅游者可以解除合同。旅游者在行程开始前30日(按照出发日减去解除合同通知到达日的自然日之差计算，下同）以上（含第30日，下同）收到赴台旅行社不能成团通知的，赴台旅行社不承担违约责任，向旅游者退还已收取的全部旅游费用（不得扣除入台证办理费用）；旅游者在行程开始前30日以内收到赴台旅行社不能成团通知的，按照通用条款第十七条第1款相关约定处理。</span>
    </p>
    <p>
        <span class="bold">2.除本条第1款约定外，在行程开始前，旅游者亦可以书面等形式解除合同（相关法律、行政法规另有规定的除外）。旅游者在行程开始前30日以上提出解除合同的，未办理入台证的，赴台旅行社应当向旅游者退还全部旅游费用；已办理入台证的，应当扣除入台证办理费用（旅游者自办的除外）；旅游者在行程开始前30日以内或行程中提出解除合同的，赴台旅行社按照通用条款第十五条相关约定扣除必要的费用或赴台旅行社损失后，将余款退还旅游者。</span>
    </p>
    <p>
        <span class="bold">3.旅游者未按约定时间到达约定集合出发地点，也未能中途加入旅游团队的，或未按照合同约定的时间缴纳全部旅游费用、或未提交相关旅游证件和资料的，视为旅游者解除合同，赴台旅行社有权按照通用条款第十五条相关约定扣除赴台旅行社损失。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第十四条 因不可抗力或者意外事件解除合同</span>
    </p>
    <p>
        <span>因不可抗力或者意外事件，影响旅游行程，合同不能继续履行的，赴台旅行社和旅游者均可以解除合同；合同不能完全履行，旅游者不同意变更的，可以解除合同。</span>
    </p>
    <p>
        <span class="bold">合同解除的，赴台旅行社应当在扣除已向地接社或者履行辅助人支付且不可退还的费用等必要的费用后，将余款退还旅游者。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第十五条 必要的费用或赴台旅行社损失扣除</span>
    </p>
    <p>
        <span class="bold">1.旅游者在行程开始前30日（不含30日）以内提出解除合同或者按照通用条款第十二条第2款约定由赴台旅行社解除合同的，按下列标准扣除赴台旅行社损失：</span>
    </p>
    <p>
        <span class="bold">行程开始前29日至15日（含第29日和第15日），按旅游费用总额的5%；</span>
    </p>
    <p>
        <span class="bold">行程开始前14日至7日（含第14日和第7日），按旅游费用总额的20%；</span>
    </p>
    <p>
        <span class="bold">行程开始前6日至4日（含第6日和第4日），按旅游费用总额的50%；</span>
    </p>
    <p>
        <span class="bold">行程开始前3日至行程开始当日（含第3日），按旅游费用总额的70%。</span>
    </p>
    <p>
        <span>2.在行程中解除合同的，赴台旅行社损失的扣除标准为：</span>
    </p>
    <p>
        <span>旅游费用×行程开始当日扣除比例（70%）+（旅游费用-旅游费用×行程开始当日扣除比例（70%）)÷旅游天数×已经出游的天数。</span>
    </p>
    <p>
        <span class="bold">按上述第1款或者第2款约定比例扣除的赴台旅行社损失低于实际损失的，赴台旅行社可按照实际损失扣除，但最高额不应当超过旅游费用总额。</span>
    </p>
    <p>
        <span class="bold">旅游者和赴台旅行社协商确认，同意按照上述比例和方式扣除赴台旅行社损失。</span>
    </p>
    <p>
        <span class="bold">3.合同解除后费用的返还：</span>
    </p>
    <p>
        <span class="bold">本合同所有解除合同事项涉及费用返还的，赴台旅行社按照旅游者实际的支付方式予以退还。赴台旅行社扣除必要的费用或赴台旅行社损失后，在旅游者将已收到的旅游费用发票返还给赴台旅行社后十个工作日内，由赴台旅行社为旅游者办结退款手续。</span>
    </p>
    <p>
        <span class="bold">如旅游者以银行卡、预付费卡等形式支付的，在赴台旅行社办理完毕退款手续后，实际退款到账日期需根据发卡机构的相关退款规则确定。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第十六条  赴台旅行社协助旅游者返程及费用承担</span>
    </p>
    <p>
        <span>旅游行程中解除合同的，赴台旅行社应协助旅游者返回出发地或者旅游者指定的合理地点。</span><span class="bold">因赴台旅行社或者履行辅助人的原因导致合同解除的，返程费用由赴台旅行社承担；行程中按照通用条款第十二条第2款、第十三条第2款、第3款情形解除合同的，返程费用由旅游者承担；按照通用条款第九条第3款 (2) 、(3)项的情形解除合同的，增加的返程费用由赴台旅行社与旅游者分担。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第六章 违约责任</span>
    </p>
    <p>
        <span class="bold">第十七条　赴台旅行社的违约责任</span>
    </p>
    <p>
        <span class="bold">1.赴台旅行社在行程开始前30日以内（不含30日）提出解除合同的，或者旅游者在行程开始前30日以内收到赴台旅行社不能成团通知，不同意延期出行和改变线路出团解除合同的，赴台旅行社向旅游者退还已收取的全部旅游费用（不得扣除入台证办理费），并按下列标准向旅游者支付违约金：</span>
    </p>
    <p>
        <span class="bold">行程开始前29日至15日（含第29日和第15日），支付旅游费用总额2%的违约金；</span>
    </p>
    <p>
        <span class="bold">行程开始前14日至7日（含第14日和第7日），支付旅游费用总额5%的违约金；</span>
    </p>
    <p>
        <span class="bold">行程开始前6日至4日（含第6日和第4日），支付旅游费用总额10%的违约金；</span>
    </p>
    <p>
        <span class="bold">行程开始前3日至1日（含第3日和第1日），支付旅游费用总额15%的违约金；</span>
    </p>
    <p>
        <span class="bold">行程开始当日，支付旅游费用总额20%的违约金。</span>
    </p>
    <p>
        <span>按上述比例支付的违约金不足以赔偿旅游者的实际损失的，赴台旅行社应当按照实际损失对旅游者予以赔偿。</span>
    </p>
    <p>
        <span>赴台旅行社应当在解除合同通知或者旅游者不同意不成团安排的解除合同通知到达日起十个工作日内，向旅游者支付上述违约金。赴台旅行社向旅游者退还旅游费用的，按照通用条款第十五条第3款的约定办理。</span>
    </p>
    <p>
        <span>2.赴台旅行社未按合同约定提供服务，或者未经旅游者同意调整旅游行程（因不可抗力和意外事件导致违约除外），造成项目减少、旅游时间缩短或者标准降低的，应当依法承担继续履行、采取补救措施或者赔偿损失等违约责任。</span>
    </p>
    <p>
        <span>3.赴台旅行社有以下情形之一的，旅游者有权在旅游行程结束后30日内，要求赴台旅行社为其办理退货并先行垫付退货货款，或者退还另行付费旅游项目的费用：</span>
    </p>
    <p>
        <span>（1）赴台旅行社以不合理的低价组织旅游活动，诱骗旅游者，并通过安排购物或者另行付费旅游项目获取回扣等不正当利益的；</span>
    </p>
    <p>
        <span>（2）未经双方协商一致或者未经旅游者要求，赴台旅行社指定具体购物场所或者安排另行付费旅游项目的。</span>
    </p>
    <p>
        <span>4.与旅游者出现纠纷时，赴台旅行社应当积极采取措施防止损失扩大，否则应当就扩大的损失承担责任。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第十八条 旅游者的违约责任</span>
    </p>
    <p>
        <span class="bold">1.因不听从赴台旅行社及其导游的劝告、提示而影响团队行程，给赴台旅行社造成损失的，由旅游者承担相应的赔偿责任。</span>
    </p>
    <p>
        <span class="bold">2.旅游者超出本合同约定的内容进行个人活动所造成的损失，由旅游者自行承担。</span>
    </p>
    <p>
        <span class="bold">3.由于旅游者的过错，使赴台旅行社、履行辅助人、旅游从业人员或者其他旅游者遭受损害的，由旅游者承担赔偿责任。</span>
    </p>
    <p>
        <span class="bold">4.旅游者在旅游活动中或者在解决纠纷时，应采取措施防止损失扩大，否则应当就扩大的损失承担相应的责任。</span>
    </p>
    <p>
        <span class="bold">5.旅游者违反安全警示规定，或者对国家应对重大突发事件暂时限制旅游活动的措施、安全防范和应急处置措施不予配合，造成赴台旅行社损失的，应当依法承担相应责任。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第十九条 其他责任</span>
    </p>
    <p>
        <span class="bold">1.是否可以办理签注以及入台证，是否准予出入境，系有关国家和地区的主权或行政权；因旅游者提供材料存在问题或其他非赴台旅行社原因被拒签、缓签、拒绝发放入台证或拒绝入境和出境的，赴台旅行社不承担责任，旅游者因此无法出行的，按照旅游者解除合同处理；如给赴台旅行社造成损失的，旅游者还应当承担赔偿责任；因赴台旅行社原因导致旅游者被拒签、缓签、拒绝入境和出境而解除合同的，依据通用条款第十七条第1款处理。</span>
    </p>
    <p>
        <span class="bold">2.由于旅游者自身原因导致本合同不能履行或者不能按照约定履行，或者造成旅游者人身损害、财产损失的，赴台旅行社不承担责任。</span>
    </p>
    <p>
        <span class="bold">3.旅游者在自行安排活动期间人身、财产权益受到损害的，赴台旅行社在事前已尽到必要警示说明义务且事后尽到必要救助义务的，赴台旅行社不承担赔偿责任。</span>
    </p>
    <p>
        <span class="bold">4.由于第三方侵害等不可归责于赴台旅行社的原因导致旅游者人身、财产权益受到损害的，赴台旅行社不承担赔偿责任；但因赴台旅行社不履行必要协助义务致使旅游者人身、财产权益损失扩大的，赴台旅行社应当就扩大的损失承担赔偿责任。</span>
    </p>
    <p>
        <span class="bold">5.由于公共交通经营者的原因造成旅游者人身损害、财产损失，由公共交通经营者依法承担赔偿责任；赴台旅行社应当协助旅游者向公共交通经营者索赔。</span>
    </p>
    <p>
        <span class="bold">6.因一方违约发生损失的，另一方应当采取适当措施防止损失扩大，未采取适当措施致使损失扩大或故意扩大损失的，就扩大的损失应当自行承担责任；但为防止损失扩大而发生的合理费用，由违约方承担。</span>
    </p>
	<p>
        <span class="bold">（下接协议条款）</span>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="title">协议条款</span>
    </p>
    <p>
        <span>根据《中华人民共和国旅游法》、《中华人民共和国合同法》、《旅行社条例》等有关法律法规规定，旅游者和赴台旅行社双方在平等自愿、诚实信用的基础上就有关事宜达成如下协议：</span>
    </p>
    <p>
        <span class="bold">第一条  旅游者情况</span>
    </p>

    <table cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%;">
        <tr>
            <td>中文姓名</td>
            <td>英文姓名</td>
            <td>性别</td>
            <td>出生日期</td>
            <td>证件类型</td>
            <td>证件号码</td>
            <td>证件有效期</td>
        </tr>
        {出行人信息}
    </table>
    <p>
        <span>订立本合同的旅游者代表或代理人应当保证：其对本合同以及《旅游行程》等合同附件中的确认,能够代表所有旅游者对合同约定的认可；所有旅游者均身体健康，适合本次旅行；所有旅游者均应当按照合同约定行使权益并履行义务。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第二条  旅游时间、服务项目</span>
    </p>
    <p>
        <span>1．赴台旅行社按照旅游者要求提供</span>
        <span class="underline">{出发日期}</span>
        <span>由</span>
        <span class="underline">{出发城市}</span>
        <span>出发</span>，
        <span class="underline">{返回日期}</span>
        <span>返回的</span>
        <span class="underline">{线路名称}</span>
        <span>产品和服务。</span>
    </p>
    <p>
        <span>旅游时间按自然日计算，含乘飞机、车、船等在途时间，不足24小时以一日计。</span>
    </p>
    <p>
        <span>服务项目具体安排见《旅游行程》。 </span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第三条 旅游费用及支付时间（以人民币为计价货币，单位元）。</span>
    </p>
    <p>
        <span>1.旅游费用</span>
    </p>
    <p>
        <span>总价：</span>
        <span class="underline">{订单应收}</span>
        <span>元（具体明细见《旅游行程》）</span>
    </p>
    <p>
        <span>2.支付时间</span>
    </p>
    <p style="display: [支付时间1]">
        <span>旅游者阅读并确认本合同后，于{支付时限}前支付全部旅游费用。</span>
    </p>
    <p style="display: [支付时间2]">
        <span>旅游者阅读并确认本合同后，自愿于{订金最晚支付时间}前向赴台旅行社交付预订金{订金金额}元，旅游者于{支付时限}前付清全部旅游费用，如届时不付清全部旅游费用或在此期间因旅游者自身原因导致解除合同的，该预订金作为赴台旅行社损失不予退还，此种情况不适用通用条款第十三条第2款、第3款、第十五条第1款、第2款的约定。</span>
    </p>
	<p>
        <span>付清全部旅游费用后，双方解约责任仍适用通用条款的相关约定。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第四条 最低成团人数</span>
    </p>
    <p>
        <span>成团的最低人数：
            <span class="underline">{成团人数}</span>人。 </span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第五条 自愿购物和参加另行付费旅游项目约定</span>
    </p>
    <p>
        <span>1.按照平等自愿、诚实信用原则以及在不违反法律、法规的强制性、禁止性规定的前提下，旅游者和赴台旅行社可在《旅游行程》中约定购物和另行付费的旅游项目活动，由赴台旅行社和旅游者共同书面确认，在旅游行程中予以安排。</span>
    </p>
    <p>
        <span>2.地接社及其从业人员在行程中安排购物活动、另行付费旅游项目的，责任由订立本合同的赴台旅行社承担。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第六条 通知</span>
    </p>
    <p>
        <span>1．双方约定以 电子邮件 作为通知方式:</span>
    </p>
    <p>
        <span>旅游者代表邮箱：</span>
        <span class="underline">{联系人邮箱}</span>
    </p>
    <p>
        <span>赴台旅行社代表邮箱：</span>
        <span class="underline">{受理人邮箱}</span>
    </p>
    <p>
        <span>2．双方指定的对接联系人为：</span>
    </p>
    <p>
        <span>旅游者代表姓名：</span>
        <span class="underline">{联系人姓名}</span>
    </p>
    <p>
        <span>赴台旅行社代表姓名：</span>
        <span class="underline">{受理人姓名}</span>
    </p>
    <p>
        <span>3．通知视为实际送达的日期确定如下：</span>
    </p>
    <p>
        <span>电子邮件方式的通知，该通知于发送之时视为已送达收件人。</span>
    </p>
    <p>
        <span>4．在无法通过上述方式进行联系，或紧急情况下，双方可通过电话或短信等方式进行沟通联系，双方联系电话为：</span>
    </p>
    <p>
        <span>旅游者代表电话：</span>
        <span class="underline">{联系人电话}</span>
    </p>
    <p>
        <span>赴台旅行社代表电话：</span>
        <span class="underline">{受理人电话}</span>
    </p>
    <p>
        <span>赴台旅行社电话：</span>400 890 5588</p>
    <p>
        <span>双方应保证以上通讯方式畅通、有效。</span>
    </p>
    <p>
        <span>任何一方依据本合同约定需要发出的通知或其他告知事宜，如以双方约定的上述联系方式告知本合同双方约定的联系人，即视为该方已履行告知义务；如一方变更本合同指定的联系人和联系方式的，应提前三日通知对方，否则承担由此造成的一切后果和责任。</span>
    </p>
    <p>
        <span>5．如旅游者为多人，需要某一位旅游者代表订立本合同及相关附件以及接收、发出信息的，该代表应保证取得其他旅游者的授权，如因其他旅游者未给予授权而发生争议的，由该代表承担全部责任。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第七条 争议的解决方式</span>
    </p>
    <p>
        <span>本合同履行过程中发生争议，由双方协商解决；亦可向赴台旅行社所在地的旅游质监执法机构、消费者协会、有关的调解组织等部门或者机构申请调解；
            <span class="bold">协商或者调解不成的，可依法向赴台旅行社所在地人民法院起诉。</span>
        </span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第八条 其他约定事项</span>
    </p>
    <p>
        <span class="bold">1.旅游者知晓并同意：</span>
    </p>
    <p>
        <span class="bold">本合同所示产品和服务，包含但不限于《旅游行程》所含内容，需要赴台旅行社在合同生效后与航空公司、酒店等各资源方二次确认库存情况。如经二次确认，资源方可如约提供本合同所示产品与服务，则旅游者与赴台旅行社按照本合同所示产品与服务执行。如经二次确认，资源方无法如约提供本合同所示某一项或几项产品与服务，则旅游者同意与赴台旅行社另行协商变更合同事宜，届时双方就协商事项另行签署补充协议并遵照执行。经协商无法达成一致的，旅游者与赴台旅行社均可解除本合同。合同解除后，赴台旅行社原路径退还旅游者已支付的全部费用，双方各自承担因合同解除而使己方受到的损失（如有）。</span>
    </p>
    <p>
        <span class="bold">2.未尽事宜，经旅游者和赴台旅行社双方协商一致，以补充协议形式确认，并作为本合同组成部分。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第九条 合同附件</span>
    </p>
    <p>
        <span>与本合同有关的《旅游行程》等文件，经双方确认的，均为本合同的附件，与本合同具有同等法律效力。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第十条　合同效力</span>
    </p>
    <p>
        <span class="bold">本合同为电子文本，双方各自留存，具有同等法律效力，自旅游者确认签署后生效。本合同生效后自动取代双方就同一订单在此前已订立的合同文本（如有）。</span>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="text-indent:60%">
        <span>赴台旅行社：中青旅耀悦（北京）旅游有限公司</span>
    </p>
    <p style="text-indent:60%">
        {合同生成时间}
    </p>
    <div>
        <div style="position:relative;float:right">
            <img src="http://m.sparkletour.com/images/contract/zhang.png" />
            <div style="position: absolute; width: 100%; text-align: center; font-weight: bold; top: 68px;left:0px; ">中青旅耀悦（北京）旅游有限公司</div>
        </div>
    </div>
    <p style="text-indent:0">
        <span>附件：</span>{预订单信息URL}
        <a href="http://m.sparkletour.com/order/anquanxinxika.html" target="_blank">《游客安全信息卡》</a>
    </p>
</div>