<style>
    .hetong-content p {
        margin: 0pt 0pt 0pt 5.25pt;
        text-indent: 15.75pt;
        line-height: 25px;
    }

    .hetong-content td {
        border: solid 0.75pt #000000;
        text-align: center;
        vertical-align: middle;
        font-size: 10.5pt;
        padding: 5px;
        word-break: break-all;
    }

    .hetong-content span {
        font-size: 10.5pt;
    }

    .hetong-content li {
        line-height: 25px;
        font-size: 12pt;
    }

    .hetong-content .center {
        margin: 0px;
        text-align: center;
    }

    .hetong-content .bold {
        font-weight: bold;
    }

    .hetong-content .underline {
        text-decoration: underline;
    }

    .hetong-content .title {
        font-size: 15pt;
        font-weight: bold;
    }

    .hetong-content .title2 {
        font-size: 10pt;
        font-weight: bold;
    }
</style>
<div class="hetong-content">
    <p>
        <span class="title2">旅行社业务经营许可证编号：L-BJ-CJ00041</span>
    </p>
    <p>
        <span class="title2">团号：</span>
        <span class="title2 underline">{团号}</span>
    <p>
        <span class="title2">订单编号：</span>
        <span class="title2 underline">{订单编号}</span>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="title">自由行旅游合同</span>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="bold">中青旅耀悦（北京）旅游有限公司</span>
    </p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="bold">合同版本：WZHT</span>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="title">使用说明</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span>
            1.本合同适用于 “自由行”旅游者委托旅行社预订机票、酒店、办理签证、提供接送机、导游等两项（含）以上服务的事项。
        </span>

    </p>
    <p>
        <span>2.本合同系电子合同，由合同正文（包括《使用说明》、《通用条款》、《协议条款》）以及附件（包括《预订单信息》以及合同双方共同确认的其他文件）组成。双方当事人可以对合同文本内容进行变更或者补充，经过双方充分协商，一致同意后，与本合同具有同等效力。</span>

    </p>
    <p>
        <span class="bold">3.旅游者在订立本合同前应仔细阅读本合同各项条款，特别是以加粗字体标注，需要旅游者特别关注的条款，确保全面、完整了解相应条款内容以及相应的合同、法律责任。</span>

    </p>
    <p>
        <span class="bold">4.旅游者通过中青旅耀悦网站确认预订信息及条款后，经旅游者确认签署的合同文本将以邮件形式由中青旅耀悦发送至旅游者预留的邮箱，旅游者也可在中青旅耀悦网站会员中心自行下载。合同自旅游者确认签署时生效，双方以此作为执行依据。</span>

    </p>
    <p>
        <span>5.旅行社旅游服务质量监督电话：4008905588，客户意见电子邮箱：sparkletour@aoyou.com。</span>

    </p>
    <p>
        <span>6.全国旅游投诉举报电话：12301。</span>

    </p>
    <p>
        <span>7.北京市旅行社服务质量监督管理所地址：北京市朝阳区建外大街28号 邮编：100022。</span>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        &nbsp;
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="center">
        <span class="title">通用条款</span>
    </p>
    <p>
        <span class="bold">第一章 术语和定义</span>
    </p>
    <p>
        <span class="bold">第一条 本合同术语和定义</span>
    </p>
    <p>
        <span class="bold">1.本合同所指自由行，系指旅行社事先设计、采购，或根据旅游者要求，由旅行社向旅游者提供交通、住宿、游览、导游等两项或者两项以上可供选择的服务、由旅游者自行安排旅游活动的旅游形式。该旅游形式无最低成团人数限制。</span>
    </p>
    <p>
        <span>2.旅游费用，指旅游者支付给旅行社，用于购买本合同约定的旅游服务的费用。</span>
    </p>
    <p>
        <span>3.履行辅助人，指与旅行社存在合同关系，协助其履行本合同义务，实际提供相关服务的法人、自然人或其他组织。</span>
    </p>
    <p>
        <span class="bold">4.不可抗力，指不能预见、不能避免且不能克服的客观情况，包括但不限于因自然原因或社会原因引起的各类事件，如自然灾害、战争、恐怖活动、动乱、骚乱、罢工、突发公共卫生事件、政府行为。</span>
    </p>
    <p>
        <span class="bold">5.意外事件（已尽合理注意义务仍不能避免的事件），指因当事人故意或者过失以外的客观因素引发的事件，包括但不限于重大礼宾活动导致的交通堵塞，飞机、火车、班轮、城际客运班车等公共客运交通工具延误或者取消，景点临时不开放。</span>
    </p>
    <p>
        <span class="bold">6.必要的费用，指旅行社履行合同已经发生的费用以及向地接社或者履行辅助人支付且不可退还的费用, 包括但不限于乘坐飞机（车、船）等交通工具的费用（含预订金）、旅游签证/签注/入台证件费用、酒店住宿费用（含预订金）、旅游观光汽车的人均车租。</span>
    </p>
    <p>
        <span class="bold">7.旅行社损失，指旅行社为履行合同已经发生的必要的费用，以及旅行社为开展该项业务而实际发生的人工成本、办公成本、管理费用等必要耗费。</span>
    </p>
    <p>
        <span class="bold">8.公共交通经营者，指航空、铁路、航运客轮、城市公交、地铁等公共交通工具经营者。</span>
    </p>
    <p>
        <span>9.旅游者投保的人身意外伤害保险，指旅游者自己购买或者通过旅行社、航空机票代理点、景区等保险代理机构购买的以旅行期间自身的生命、身体或者有关利益为保险标的的短期保险，包括但不限于航空意外险、旅游意外险、紧急救援险、特殊项目意外险。</span>
    </p>

    <p>
        <span>10.境内旅游，指旅行社组织旅游者在中华人民共和国境内（不含香港、澳门、台湾地区）旅游的活动。</span>
    </p>
    <p>
        <span>11.出境旅游,指旅行社组织旅游者出国旅游及赴中外双方政府商定的国外边境区域和港、澳、台地区等旅游目的地旅游的活动，包括旅游目的地中既包含境外目的地也包含境内目的地的旅游活动。</span>
    </p>
    <p>
        <span class="bold">12.法定节假日,指出发地或目的地政府或其他行政机构或权力机关公布的节日或假日，在此期间一般会出现出游游客大幅度增加，酒店、机票、旅游配套设施资源紧张等情况。</span>
    </p>
    <p>
        <span class="bold">13.目的地特殊节庆,指非法定节假日，但为出发地或目的地传统习惯、社会风俗或特殊情形下形成的节庆日，如目的地举行的传统庆典、举办重大文体、会议、展览活动等。此种情况下亦会造成相关旅游资源紧缺。</span>
    </p>
    <p>
        <span class="bold">14.包机或包位航班,指旅行社与航空公司或航空代理机构签署协议，由旅行社包销全部或部分机位的航班。 </span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第二章  合同的订立</span>
    </p>
    <p>
        <span class="bold">第二条  订立合同</span>
    </p>
    <p>
        <span class="bold">旅游者应当认真阅读本合同条款和《预订单信息》等合同附件，在理解并接受本合同条款及有关附件后，点击确认签署电子合同。</span>
    </p>
    <p>
        <span class="bold">由旅游者的代理人或代表人订立合同的，代理人或代表人须确保获得相应代理和代表权限，能够代表所有旅游者对合同约定的认可，并须要将本合同以及相关附件的内容如实完整告知被代理人或被代表人。</span>
    </p>
    <p>
        <span class="bold">第三条  旅游广告及宣传品</span>
    </p>
    <p>
        <span>旅行社的旅游广告及宣传品应当遵循诚实信用的原则，其内容符合《中华人民共和国合同法》要约规定并被旅游者认可和接受的，视为本合同的组成部分，对旅行社和旅游者双方具有约束力。</span>
    </p>
    <p>&nbsp;</p>
    <p>
        <span class="bold">第三章  合同双方的权利义务</span>
    </p>
    <p>
        <span class="bold">第四条  旅行社的权利</span>
    </p>
    <p>
        <span class="bold">1.核实旅游者提供的信息资料，根据旅游者的身体健康状况及相关条件决定是否与旅游者订立本合同。</span>
    </p>
    <p>
        <span class="bold">2.旅游者订立合同时在70周岁以上、或18周岁以下、或处于妊娠期、或有身体残障等情况，以及非中国国籍或为港澳台人士的，应在订立本合同时告知旅行社，并按照旅行社的要求签署有关文件。</span>
    </p>
    <p>
        <span class="bold">3.旅游者为育龄女性的，旅游者在订立本合同前须确认本人出行期间(指签署合同后至旅行结束的期间)不处于妊娠期，如因处于妊娠期要求解除或变更合同的，应按照本合同中旅游者解除或变更合同的约定承担有关责任。</span>
    </p>
    <p>
        <span class="bold">4.若旅游者未依照通用条款第四条第2款、第3款的约定向旅行社如实告知本人信息、或在已订立合同后方提出本人处于妊娠期的，出于安全考虑，旅行社可劝阻旅游者出行并解除合同，按本合同通用条款第十一条处理；若经旅行社劝阻，已知风险仍坚持出行的，旅游者需在本合同之外签署相关声明方可出行；若旅游者拒绝签署相关声明，或旅行社认为出行对旅游者风险较高，旅游者签署声明仍不宜出行的，旅行社有权解除合同,按本合同通用条款第十一条处理。</span>
    </p>
    <p>
        <span class="bold">5.按照合同约定向旅游者收取全额旅游费用。</span>
    </p>
    <p>
        <span class="bold">6.遇紧急情况时，可以采取安全防范措施和紧急避险措施并要求旅游者配合。</span>
    </p>
    <p>
        <span class="bold">7.拒绝旅游者提出的超出合同约定的不合理要求。</span>
    </p>
    <p>
        <span class="bold">8.要求旅游者健康、文明旅游，劝阻旅游者违法和违反社会公德的行为。要求旅游者对在旅游活动中或者在解决纠纷时损害旅行社合法权益的行为承担赔偿责任。对于有严重不文明行为的旅游者，旅行社可将旅游者的不文明旅游信息向旅游或相关主管部门报告，建议相关部门将不文明旅游者的信息载入不文明游客记录。</span>
    </p>
    <p>
        <span class="bold">9.出境旅游的，旅行社有权根据出境旅游目的地的实际情况向旅游者收取一定金额的出境保证金。</span>
    </p>
    <p>
        <span class="bold">10.如通过旅行社取得签证、签注或入台证后，因旅游者的原因导致合同在行前解除或旅游者放弃出行的，旅行社有权注销旅游者的相应签证/签注/入台证（因其中含有旅行社的信誉担保）。</span>
    </p>
    <p>
        <span class="bold">第五条  旅行社的义务</span>
    </p>
    <p>
        <span>1.按照合同约定的内容和标准为旅游者提供服务，不擅自变更旅游安排，不降低服务标准。</span>
        <p>
            <span>2.向合格的供应商订购产品和服务。</span>
        </p>
        <p>
            <span>3.旅行社通过与旅游者确认《预订单信息》，向旅游者发放《出行通知》等方式，如实告知具体旅游安排和有关具体事项。</span>
        </p>
        <p>
            <span>4.接受旅游者委托为旅游者办理签证、签注、入台证或其他必要手续的，应妥善保管旅游者的各项证件，如有遗失或损毁，应及时补办，并承担补办费用，因此导致旅游者直接经济损失的，旅行社应予赔偿。</span>
        </p>
        <p>
            <span>5.旅游者人身、财产权益受到损害时，应给予合理必要的协助。</span>
        </p>
        <p>
            <span>6.积极协调处理旅游过程中的纠纷，采取适当措施防止损失扩大。</span>
        </p>
        <p>
            <span>7.提示旅游者投保人身意外伤害保险。</span>
        </p>
        <p>
            <span>8.向旅游者提供其向旅行社已交付的旅游费用发票。</span>
        </p>
        <p>
            <span>9.依法对旅游者个人信息保密。</span>
        </p>
        <p>
            <span class="bold">第六条  旅游者的权利</span>
        </p>
        <p>
            <span>1.要求旅行社按照合同约定履行相关义务。</span>
        </p>
        <p>
            <span>2.有权自主选择旅游产品和服务。</span>
        </p>
        <p>
            <span>3.在支付旅游费用时要求旅行社出具发票。</span>
        </p>
        <p>
            <span>4.人格尊严、民族风俗习惯和宗教信仰得到尊重。</span>
        </p>
        <p>
            <span>5.在人身、财产安全遇有危险时，有权请求救助和保护；人身、财产受到侵害的，有权依法获得赔偿。</span>
        </p>
        <p>
            <span>6.在合法权益受到损害时向有关部门投诉或者要求旅行社协助索赔或赔偿。</span>
        </p>
        <p>
            <span>7.《中华人民共和国旅游法》、《中华人民共和国消费者权益保护法》和有关法律、法规赋予旅游者的其他各项权利。</span>
        </p>
        <p>
            <span class="bold">第七条  旅游者的义务</span>
        </p>
        <p>
            <span class="bold">1.如实填写出行人信息、按照要求提交办理签证/签注/入台证等资料，告知与旅游活动相关的个人健康信息及身体状况，并对其真实性负责，保证所提供的联系方式准确无误且能及时联系。 </span>
        </p>
        <p>
            <span class="bold">故意隐瞒个人信息或身体和健康情况（如处于妊娠期、70周岁以上、18周岁以下或有身体残障、患有高血压、心脏病等疾病，非中国国籍或为港澳台人士等）的，由此产生的相关后果由旅游者自行承担。有出行风险但拒绝签署特殊声明的,旅行社可解除合同，相关责任和后果由旅游者承担。</span>
        </p>
        <p>
            <span class="bold">2.需要旅行社办理签证/签注/入台证等出入境手续的，应向旅行社提交能有效使用的个人证件，包括但不限于因私护照或者港、澳、台通行证以及旅行社要求提供的其他资料。</span>
        </p>
        <p>
            <span class="bold">自办签证/签注/入台证者应当确保所持签证/签注/入台证在出游期间有效；持中国因私护照以外旅行证件的旅游者，应自查出入境手续是否完备;如旅游者因工作性质或所在单位要求，需要办理有关出入境备案或报批手续的，旅游者应确保已办理完毕相应手续;如因此影响旅游的，由旅游者承担全部责任和损失。</span>
        </p>
        <p>
            <span>3.境内旅游的，旅游者在旅游过程中应随身携带有效身份证件（年满16周岁的公民均应办理身份证件并携带）。出境旅游的，旅游者应保证旅行结束时护照等证件仍有六个月以上的有效期。</span>
        </p>
        <p>
            <span class="bold">4.按照合同约定支付旅游费用。</span>
        </p>
        <p>
            <span class="bold">5.遵守我国和旅游目的地国家（地区）的法律、法规和有关规定，遵守旅游目的地国家（地区）的公共秩序和社会公德，尊重当地的风俗习惯，文化传统和宗教信仰，爱护旅游资源，保护生态环境;不携带违禁物品出、入境；不参与色情、赌博和涉毒活动；携带需要申报物品出入海关的，应当遵守我国或目的地国家或地区海关管理规定，依法进行申报、纳税;不在境外滞留不归。</span>
        </p>
        <p>
            <span class="bold">6.对国家应对重大突发事件暂时限制旅游活动的措施以及有关部门、机构或者旅游经营者采取的安全防范和应急处置措施予以配合。否则造成旅行社损失的，应当依法承担相应责任。</span>
        </p>
        <p>
            <span class="bold">7.妥善保管自己的行李物品，随身携带现金、有价证券、贵重物品，不在行李中夹带。</span>
        </p>
        <p>
            <span class="bold">8.在旅游活动中或者在解决纠纷时，应采取适当措施防止损失扩大，不损害当地居民的合法权益，不干扰他人的旅游活动，不损害旅游经营者和旅游从业人员的合法权益，不采取拒绝上、下机（车、船）等不当行为扩大损失，否则应就扩大的损失承担相应的责任。</span>
        </p>
        <p>
            <span class="bold">9.应当在自己能够控制风险的范围内选择活动项目，遵守旅游活动中的安全警示规定，对自己的安全负责。由于旅游者的过错，使旅行社、履行辅助人、旅游从业人员或者其他旅游者遭受损害的，旅游者应赔偿损失。</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span class="bold">第四章  合同的变更与转让</span>
        </p>
        <p>
            <span class="bold">第八条  合同的变更</span>
        </p>
        <p>
            <span>1.旅行社与旅游者双方协商一致，可以变更本合同约定的内容，由此增加的旅游费用及给对方造成的损失，由变更提出方承担；由此减少的旅游费用，旅行社退还旅游者。</span>
        </p>
        <p>
            <span class="bold">2.旅游出发前遇到不可抗力或意外事件，影响旅游的，双方经协商可以解除合同或者延期出行。解除合同的，按照本合同第十二条处理；延期出行的，增加的费用由旅游者承担，减少的费用退还旅游者。</span>
        </p>
        <p>
            <span class="bold">3.旅游过程中遇到不可抗力或意外事件，影响旅游的，按以下方式处理：</span>
        </p>
        <p>
            <span class="bold">（1）合同不能完全履行的，旅行社经向旅游者做出说明，旅游者同意变更的，可以在合理范围内变更合同，因此增加的费用由旅游者承担，减少的费用退还旅游者。</span>
        </p>
        <p>
            <span class="bold">（2）危及旅游者人身、财产安全的，旅行社应当采取相应的安全措施，因此支出的费用，由旅行社与旅游者分担。</span>
        </p>
        <p>
            <span class="bold">（3）造成旅游者滞留的，旅行社应采取相应的安置措施。因此增加的食宿费用由旅游者承担，增加的返程费用由旅行社与旅游者分担。</span>
        </p>
        <p>
            <span class="bold">第九条  合同的转让</span>
        </p>
        <p>
            <span>旅游出发前，旅游者可以将本合同中自身的权利义务转让给第三人，旅行社没有正当理由的不得拒绝，并应协助旅游者办理相关转让手续，因此增加的费用由旅游者和第三人承担。</span>
        </p>
        <p>
            <span>正当理由包括但不限于：对应原旅游者办理的相关服务不可转让给第三人的；无法为第三人办妥签证/签注/入台证、安排交通等情形的；旅游活动对于旅游者的身份、资格等有特殊要求的。</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span class="bold">第五章  合同的解除</span>
        </p>
        <p>
            <span class="bold">第十条  旅行社解除合同</span>
        </p>
        <p>
            <span class="bold">1.旅游者有下列情形之一的，旅行社可以解除合同：</span>
        </p>
        <p>
            <span class="bold">（1）患有传染病等疾病，可能危害其他旅游者健康和安全的；</span>
        </p>
        <p>
            <span class="bold">（2）携带危害公共安全的物品且不同意交有关部门处理的；</span>
        </p>
        <p>
            <span class="bold">（3）从事违法或者违反社会公德的活动的；</span>
        </p>
        <p>
            <span class="bold">（4）从事严重影响其他旅游者权益的活动，且不听劝阻、不能制止的；</span>
        </p>
        <p>
            <span class="bold">（5）法律规定的影响合同履行的其他情形。</span>
        </p>
        <p>
            <span class="bold">旅行社因上述情形解除合同的，应当及时通知旅游者，按照本合同第十一条的相关约定扣除相应费用后，将余款退还旅游者。</span>
        </p>
        <p>
            <span class="bold">2.旅行社认为不适宜履行合同的，可解除合同，并按照本合同约定向旅游者承担违约责任。</span>
        </p>
        <p>
            <span>3.除第十条第1款情形外，因旅行社原因解除合同的，旅行社向旅游者退还全部费用，并按下列标准向旅游者支付违约金： </span>
        </p>
        <p>
            <span>（1）出发前8至15日（按照出发日减去解除合同日的自然日之差计算，下同）（含第8日和第15日）解除合同的，旅行社向旅游者支付旅游费用总额5%的违约金；</span>
        </p>
        <p>
            <span>（2）出发前7日内（含第7日）解除合同的，旅行社向旅游者支付旅游费用总额10%的违约金。</span>
        </p>
        <p>
            <span class="bold">4.旅游者和旅行社协商确认，同意按照上述比例和方式支付旅游者违约金。如按上述比例支付违约金后仍不足以赔偿旅游者实际损失的，旅行社可按照实际损失予以支付。</span>
        </p>
        <p>
            <span class="bold">第十一条  旅游者解除合同</span>
        </p>
        <p>
            <span>1.境内旅游行前解除合同的</span>
        </p>
        <p>
            <span>（1）旅游者在出发7日前（不含第7日）解除合同的，旅行社在扣除必要费用后将旅游费用退还旅游者；</span>
        </p>
        <p>
            <span>（2）旅游者在出发前7日以内（含第7日）解除合同的，旅游者同意由旅行社按照下列标准扣除旅行社损失后，将余款退还旅游者：</span>
        </p>
        <p>
            <span>A．出发前7至4日（含第7日和第4日），按旅游费用总额的20%； </span>
        </p>
        <p>
            <span>B．出发前3日至出发当日（含第3日和出发当日），按旅游费用总额的60%。</span>
        </p>
        <p>
            <span>2.出境旅游行前解除合同的</span>
        </p>
        <p>
            <span>（1）旅游者在出发30日前（不含第30日）提出解除合同的，旅游社扣除必要费用后将旅游费用退还给旅游者；</span>
        </p>
        <p>
            <span>（2）旅游者在出发前30日以内（含第30日）提出解除合同的，旅游者同意由旅行社按照下列标准扣除旅行社损失后，将余款退还旅游者：</span>
        </p>
        <p>
            <span>A．出发前30至15日（含第30日和第15日），按旅游费用总额的5%；</span>
        </p>
        <p>
            <span>B．出发前14至7日（含第14日和第7日），按旅游费用总额的20%；</span>
        </p>
        <p>
            <span>C．出发前6至4日（含第6日和第4日），按旅游费用总额的50%；</span>
        </p>
        <p>
            <span>D．出发前3日至出发当日（含第3日和出发当日），按旅游费用总额的70%；</span>
        </p>
        <p>
            <span>3.在旅游过程中解除合同的：</span>
        </p>
        <p>
            <span>旅游者同意由旅行社按照下列标准扣除旅行社损失后，将余款退还旅游者：</span>
        </p>
        <p>
            <span>旅游费用×出发当日扣除比例+（旅游费用-旅游费用×出发当日扣除比例)÷旅游天数×已经出游的天数。</span>
        </p>
        <p>
            <span class="bold">4.如旅游者参加的旅游活动期间为法定节假日或目的地特殊节庆，或旅行社已告知其航班采取包机或包位航班等特殊情形的，由于相关资源提供方的严格限制条件，旅游者解除合同后，旅行社收取相应损失费用或违约金的标准，以《预订单信息》上的特别约定为准。</span>
        </p>
        <p>
            <span class="bold">5.旅游者和旅行社协商确认，同意按照上述比例和方式扣除旅行社损失。如按上述比例扣除旅行社损失后仍不足以赔偿旅行社实际损失的，旅行社可按照实际损失予以扣除，但最高不得超过旅游者实际缴纳的旅游费用。</span>
        </p>
        <p>
            <span class="bold">6.旅游者未按约定时间出发或搭乘交通工具、未按照合同约定的时间缴纳全部旅游费用或出境保证金、或未提交相关旅行证件和资料的，视为旅游者解除合同，按照本合同通用条款第十一条的约定处理。</span>
        </p>
        <p>
            <span class="bold">第十二条  因不可抗力或者意外事件解除合同</span>
        </p>
        <p>
            <span>因不可抗力或者意外事件，影响旅游活动，合同不能继续履行的，旅行社和旅游者均可以解除合同；合同不能完全履行，旅游者不同意变更的，可以解除合同。合同解除的，旅行社应当在扣除已向地接社或者履行辅助人支付且不可退还的费用等必要费用后，将余款退还旅游者。</span>
        </p>
        <p>
            <span class="bold">第十三条  合同解除后违约金的支付或费用的返还</span>
        </p>
        <p>
            <span>本合同所有解除合同事项涉及旅行社向旅游者支付违约金或费用返还的，在旅游者将收到的旅游费用发票返还给旅行社后十个工作日内，由旅行社为旅游者办结退款手续。</span>
        </p>
        <p>
            <span class="bold">如旅游者以银行卡、预付费卡等形式支付的，在旅行社办理完毕退款手续后，实际退款到账日期需根据发卡机构的相关退款规则确定。</span>
        </p>
        <p>
            <span class="bold">第十四条  旅行社协助旅游者返程及费用承担</span>
        </p>
        <p>
            <span>旅游过程中解除合同的，旅行社应协助旅游者返回出发地或者旅游者指定的合理地点。因旅行社或者履行辅助人的原因导致合同解除的，返程费用由旅行社承担；由于旅游者原因或旅行社依据本合同通用条款第十条第1款约定解除合同的，返程费用由旅游者承担；本合同通用条款第八条第3款第（2）（3）项情况的，增加的返程费用由旅游者和旅行社分担。</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span class="bold">第六章  其他责任</span>
        </p>
        <p>
            <span class="bold">第十五条  本合同约定的旅行社向旅游者提供的旅游服务为“自由行”，旅行社仅对所提供的服务承担相应的责任。除本合同中约定的由旅行社向旅游者提供的服务事项外，旅游过程中的其他事项均由旅游者自行办理和安排：如以外国语填写目的地国家和地区的出入境卡、办理出入境手续、办理登机及行李托运、办理酒店入住手续、旅游过程中紧急事件的现场处理等。</span>
        </p>
        <p>
            <span class="bold">旅游者（尤其是出境旅游者）应确保自身具备一定的旅行经验和外国语能力，并妥善安排和规划旅游日程，慎重选择旅游活动项目（尤其是高空、高速、水上、潜水、探险等高风险项目），否则由此导致的有关损失和责任，均由旅游者自行承担。</span>
        </p>
        <p>
            <span class="bold">第十六条  由于第三方侵权行为，或因旅游者与第三方之间的合同关系（如保险合同关系、客运合同关系、买卖合同关系）等不可归责于旅行社的原因导致旅游者人身、财产权益受到损害的，旅行社不承担责任；按照相应法律规定和合同约定，由旅游者与第三方自行解决。</span>
        </p>
        <p>
            <span class="bold">第十七条  旅游者委托旅行社办理签证、签注、入台证等业务的，旅行社收取的费用中包含签证/签注/入台证办理费和旅行社服务费。但是否发放签证/签注/入台证，是否准予出入境，系有关国家和地区的主权或行政权，个别使领馆等机构可能会致电旅游者抽查或要求面谈，旅游者对此应有相应准备并给与配合。因旅游者提供的办理签证的材料存在问题或其他非旅行社原因导致拒签、缓签、拒绝入境或出境的，旅行社不承担责任。旅游者因此无法出行的，按照旅游者行前解约处理。如给旅行社造成损失的，旅游者还应当承担赔偿责任。因旅行社原因导致旅游者被拒签、缓签、拒绝入境或出境而解除合同的，依据本合同通用条款第十条第3款、第4款处理。</span>
        </p>
        <p>
            <span class="bold">第十八条  入境免签或落地签的国家或地区，旅游者应向出入境管理机关的工作人员出示酒店订单、返程机票等，因旅游者未携带而产生的损失由旅游者自行承担。</span>
        </p>
        <p>
            <span class="bold">第十九条  如旅行社仅按旅游者的指定或选择预订酒店的，旅行社不对酒店的设施设备、酒店本身的服务事项负责。</span>
        </p>
        <p>
            <span class="bold">第二十条  旅游者应按照酒店相关规定办理入住、退房、交纳押金等事宜。因提前入住或推迟离店，以及其他的额外消费，酒店加收的费用由旅游者承担。</span>
        </p>
        <p>
            <span class="bold">第二十一条  根据本合同约定酒店住宿费用中包含早餐的，酒店按照床位数安排早餐。旅游者中不占床位的儿童无专属早餐（需由旅游者另行付费购买）。 </span>
        </p>
        <p>
            <span class="bold">第二十二条  由于公共交通经营者的原因造成旅游者人身损害、财产损失依法应承担责任的，旅行社应当协助旅游者向公共交通经营者索赔。</span>
        </p>
        <p>
            <span class="bold">第二十三条  机票的转签、退票等事宜由航空公司规定。因旅游者违反相关规定造成损失的，由旅游者承担。</span>
        </p>
        <p>
            <span class="bold">第二十四条  机票为往返或者联程机票的，旅游者应当按顺序使用，如未按顺序使用，或旅游者在部分或全部航段未能按时乘机的，航空公司将取消旅游者的后续航班，未乘坐的航段费用航空公司将不予退还。因上述情况造成的额外损失或旅游者无法完成旅行的责任，由旅游者自行承担。</span>
        </p>
        <p>
            <span class="bold">第二十五条  旅行社对旅游者自行办理的旅游证照、签证签注、入台证、交通票证、酒店住宿等事项不承担责任，由此导致的有关问题和损失，由旅游者自行解决。</span>
        </p>
        <p>
            <span class="bold">第二十六条  由于旅游者自身原因导致本合同不能履行或造成旅游者人身伤害、财产损失，旅行社尽到必要事前说明和事后协助义务的，旅行社不承担责任。</span>
        </p>
		<p>
            <span class="bold">（下接协议条款）</span>
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p class="center">
            <span class="title">协议条款</span>
        </p>
        <p>
            <span>根据《中华人民共和国旅游法》、《中华人民共和国合同法》、《旅行社条例》等有关法律法规规定，旅游者和旅行社双方在平等自愿、诚实信用的基础上就有关事宜达成如下协议：</span>
        </p>
        <p>
            <span class="bold">第一条  旅游者情况</span>
        </p>

        <table cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%;">
            <tr>
                <td>中文姓名</td>
                <td>英文姓名</td>
                <td>性别</td>
                <td>出生日期</td>
                <td>证件类型</td>
                <td>证件号码</td>
                <td>证件有效期</td>
            </tr>
            {出行人信息}
        </table>
        <p>
            <span>订立本合同的旅游者代表或代理人应当保证：其对本合同以及《预订单信息》等合同附件中的确认,能够代表所有旅游者对合同约定的认可；所有旅游者均身体健康，适合本次旅行；所有旅游者均应当按照合同约定行使权益并履行义务。</span>
        </p>
        <p>
            <span class="bold">第二条  旅游时间、服务项目、旅游费用：</span>
        </p>
        <p>
            <span>1．旅行社按照旅游者要求提供</span>
            <span class="underline">{出发日期}</span>
            <span>由</span>
            <span class="underline">{出发城市}</span>
            <span>出发</span>，
            <span class="underline">{返回日期}</span>
            <span>返回的</span>
            <span class="underline">{线路名称}</span>
            <span>产品和服务。</span>
        </p>
        <p>
            <span>旅游时间按自然日计算，含乘飞机、车、船等在途时间，不足24小时以一日计。</span>
        </p>
        <p>
            <span>服务项目具体安排见《预订单信息》。 </span>
        </p>

        <p>
            <span>2．旅游费用及支付时间（以人民币为计价货币，单位“元”）</span>
        </p>
        <p>
            <span>总价：</span>
            <span class="underline">{订单应收}</span>
            <span>元（具体明细见《预订单信息》）。</span>
        </p>
		<p style="display: [支付时间1]">
            <span>旅游者阅读并确认本合同后，于{支付时限}前支付全部旅游费用。</span>
        </p>
        <p style="display: [支付时间2]">
            <span>旅游者阅读并确认本合同后，自愿于{订金最晚支付时间}前向出境社交付预订金{订金金额}元，旅游者于{支付时限}前付清全部旅游费用，如届时不付清全部旅游费用或在此期间因旅游者自身原因导致解除合同的，该预订金作为旅行社损失不予退还，此种情况不适用通用条款第十一条的约定。</span>
        </p>
		<p>
            <span>付清全部旅游费用后，双方解约责任仍适用通用条款的相关约定。</span>
        </p>
		<p>
            <span class="bold">第三条  出境保证金</span>
        </p>
        <p>
            <span>1.出境旅游的，为保证旅游者按期回程、不在境外非法滞留，旅游者应向旅行社交付出境保证金。</span>
        </p>
        <p>
            <span>2.旅行社可视旅游者签证信息、出境经历等具体情况，准予以适度增减额度，但实际收取数额最高不得超过每人拾万元人民币。旅游者认可旅行社基于此条款对出境保证金的增减，并根据旅行社的要求交纳相应金额的保证金。</span>
        </p>
        <p>
            <span>3.旅游者应在出发三个工作日前 (本合同生效时已在出发前三日内的，应在合同生效时)，将该保证金（如以非现金方式交付的，以支票、汇款等实际到账日为准）交付旅行社。如未按期交付的，旅行社有权视同旅游者解除合同，按照通用条款第十一条第2款执行。</span>
        </p>
        <p>
            <span>4.收取保证金后旅行社将出具收款凭证，双方一致认可，旅游者交纳的出境保证金具体数额以该收款凭证为准.</span>
        </p>
        <p>
            <span>5.旅游者在境外非法滞留的，旅行社有权扣除该保证金，不予退还。</span>
        </p>
        <p>
            <span>6.旅游者未在境外滞留的，旅行社应在旅游者按期回程后五个工作日内，为旅游者办理退还出境保证金的手续。旅游者需凭旅行社所出具的收款凭证领取退款。</span>
        </p>
        <p>
            <span class="bold">第四条  通知：</span>
        </p>
        <p>
            <span>1．双方约定以 电子邮件 作为通知方式:</span>
        </p>
        <p>
            <span>旅游者代表邮箱：</span>
            <span class="underline">{联系人邮箱}</span>
        </p>
        <p>
            <span>旅行社代表邮箱：</span>
            <span class="underline">{受理人邮箱}</span>
        </p>
        <p>
            <span>2．双方指定的对接联系人为：</span>
        </p>
        <p>
            <span>旅游者代表姓名：</span>
            <span class="underline">{联系人姓名}</span>
        </p>
        <p>
            <span>旅行社代表姓名：</span>
            <span class="underline">{受理人姓名}</span>
        </p>
        <p>
            <span>3．通知视为实际送达的日期确定如下：</span>
        </p>
        <p>
            <span>电子邮件方式的通知，该通知于发送之时视为已送达收件人。</span>
        </p>
        <p>
            <span>4．在无法通过上述方式进行联系，或紧急情况下，双方可通过电话或短信等方式进行沟通联系，双方联系电话为：</span>
        </p>
        <p>
            <span>旅游者代表电话：</span>
            <span class="underline">{联系人电话}</span>
        </p>
        <p>
            <span>旅行社代表电话：</span>
            <span class="underline">{受理人电话}</span>
        </p>
        <p>
            <span>旅行社电话：</span>400 890 5588</p>
        <p>
            <span>旅游者、旅行社应保证以上通讯方式畅通、有效。</span>
        </p>
        <p>
            <span>任何一方依据本合同约定需要发出的通知或其他告知事宜，如以上述联系方式告知对方联系人，即视为该方已履行告知义务。如一方变更本合同指定的联系人和联系方式的，应提前三日通知对方，否则承担由此造成的一切后果和责任。</span>
        </p>
        <p>
            <span>５．如旅游者为多人，需要某一位旅游者代表订立本合同及相关附件以及接收、发出信息的，该代表应保证取得其他旅游者的授权，如因其他旅游者未给予授权而发生争议的，由该代表承担全部责任。</span>
        </p>
        <p>
            <span class="bold">第五条  争议解决方式</span>
        </p>
        <p>
            <span>本合同履行过程中发生争议，由双方协商解决，亦可向旅行社所在地旅游质监执法机构、消费者协会、有关调解组织等部门或者机构申请调解。</span>
        </p>
        <p>
            <span>协商或者调解不成的，可依法向旅行社所在地人民法院起诉。</span>
        </p>
        <p>
            <span class="bold">第六条  其他约定事项</span>
        </p>
        <p>
            <span class="bold">1、旅游者知晓并同意：</span>
        </p>
        <p>
            <span class="bold">本合同所示产品和服务，包含但不限于《预订单信息》所含内容，需要旅行社在合同生效后与航空公司、酒店等各资源方二次确认库存情况。如经二次确认，资源方可如约提供本合同所示产品与服务，则旅游者与旅行社按照本合同所示产品与服务执行。如经二次确认，资源方无法如约提供本合同所示某一项或几项产品与服务，则旅游者同意与旅行社另行协商变更合同事宜，届时双方就协商事项另行签署补充协议并遵照执行。经协商无法达成一致的，旅游者与旅行社均可解除本合同。合同解除后，旅行社原路径退还旅游者已支付的全部费用，双方各自承担因合同解除而使己方受到的损失（如有）。</span>
        </p>
        <p>
            <span class="bold">2、未尽事宜，经旅游者和旅行社双方协商一致，以补充协议形式确认，并作为本合同组成部分。</span>
        </p>
        <p>
            <span class="bold">第七条  合同附件</span>
        </p>
        <p>
            <span>与本合同有关的《预订单信息》等文件，经双方确认的，均为本合同的附件，与本合同具有同等法律效力。</span>
        </p>
        <p>
            <span class="bold">第八条 合同效力</span>
        </p>
        <p>
            <span class="bold">本合同为电子文本，双方各自留存，具有同等法律效力，自旅游者确认签署后生效。本合同生效后自动取代双方就同一订单在此前已订立的合同文本（如有）。</span>
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="text-indent:60%">
            <span>旅行社：中青旅耀悦（北京）旅游有限公司</span>
        </p>
        <p style="text-indent:60%">
            {合同生成时间}
        </p>
        <div>
            <div style="position:relative;float:right">
                <img src="http://m.sparkletour.com/images/contract/zhang.png" />
                <div style="position: absolute; width: 100%; text-align: center; font-weight: bold; top: 68px;left:0px; ">中青旅耀悦（北京）旅游有限公司</div>
            </div>
        </div>
        <p style="text-indent:0">
            <span>附件：</span>{预订单信息URL}
            <a href="http://m.sparkletour.com/order/anquanxinxika.html" target="_blank">《游客安全信息卡》</a>
        </p>
</div>